*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hide;
  color: inherit;
  transition: 200ms;
  scrollbar-width: none;
  font-weight: 400;
}
ul, ol {
  color: inherit !important;
}
.dark {
  color: white;
}
.body-light {
  background-color: white;
}
.body-dark {
  background-color: black;
  color: white;
}
.copyright-statement.dark {
  color: #bbb;
}
.nav-tabs-dark > .hide-divider > .tab.active {
  color: white;
}
.nav-tabs-dark > .hide-divider > .tab.active::after {
  background-color: white;
}
.nav-tabs-dark > .hide-divider > .tab {
  color: #ccc;
}
.user-tag-dark > .names > .name {
  color: white;
}
.user-tag-dark > .names > .social {
  color: #ccc;
}
.badge-link {
  background-color: #00000015 !important;
}
.badge-link:hover {
  background-color: #00000030 !important;
}
.badge-link > a {
  line-height: 1.5;
  color: black !important;
  text-transform: uppercase;
}
.badge-link.dark {
  background-color: #202020 !important;
}
.badge-link.dark:hover {
  background-color: #2b2b2b !important;
}
.badge-link.dark > a {
  color: white !important;
}
a.about-link {
  padding: 0 2px;
  color: black !important;
  font-weight: bold;
}
a.about-link.dark {
  color: white !important;
}
.tamu:hover {
  background-color: #e5d9d9;
  border-radius: 2px;
}
.tamu.dark:hover {
  background-color: #500;
}
.city:hover {
  background-color: #e5ffd9;
  border-radius: 2px;
}
.city.dark:hover {
  background-color: #1f6400;
}
.datathon:hover {
  background-color: #f8d9ff;
  border-radius: 2px;
}
.datathon.dark:hover {
  background-color: #d000ff;
}
.intuit:hover {
  background-color: #bfddf1;
  border-radius: 2px;
}
.intuit.dark:hover {
  background-color: #0077c5;
}
.bg-yellow:hover {
  background-color: rgba(255, 255, 0, 0.15);
  border-radius: 2px;
}
.hobby {
  line-height: 1.5 !important;
  height: auto !important;
  font-size: 1em !important;
  margin-top: 0.5em !important;
}
.hobby.dark {
  color: white !important;
  background-color: black;
  border-color: white;
}
.dark > .tooltip > .misc-link {
  color: #79ffe1 !important;
}
.dark > .misc-link {
  color: #79ffe1 !important;
}
.dark > .tooltip > .misc-link:hover {
  background-color: rgba(121, 255, 225, 0.2) !important;
}
.dark > .misc-link:hover {
  background-color: rgba(121, 255, 225, 0.2) !important;
}
.misc-link {
  line-height: 1.5 !important;
  height: auto !important;
  font-size: 1em !important;
  margin-top: 0.5em !important;
  align-items: center !important;
  margin-right: 0.5em !important;
}
.misc-link-r {
  line-height: 1.5 !important;
  height: auto !important;
  font-size: 1em !important;
  align-items: center !important;
}
.collapse.dark > .view > .title {
  color: white !important;
}
.title > svg {
  color: inherit !important;
}
.card {
  margin: 20px !important;
  flex: 1 1 0% !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 275px !important;
  max-width: 275px !important;
}
.content {
  flex: 1 1 0%;
}
.content-wrapper {
  padding: 4pt calc(0.65 * 4pt);
}
.collapse {
  padding: 0.75em 0 !important;
}
.title > h3 {
  font-weight: 400;
  font-size: 1.2rem;
}
.modal-section-img {
	width: 27rem !important;
	max-width: 80vw !important;
	margin-right: 1rem;
}
.modal-section {
  width: 28rem !important;
  max-width: 80vw !important;
}
footer > button {
  padding: 0 !important;
}
.projects-container {
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: left;
}
.project-card {
  width: 400px !important;
  max-width: 400px !important;
  flex: 0 auto !important;
}
.project-card.dark {
  background-color: black !important;
  color: white !important;
  border-color: #444 !important;
}
.project-card.dark:hover {
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.15) !important;
}
.project-card.dark > footer {
  border-color: #444;
}
.project-card.dark > footer > .misc-link-r {
  color: #79ffe1 !important;
}
.project-card.dark > footer > .misc-link-r:hover {
  background-color: rgba(121, 255, 225, 0.2) !important;
}
.project-card.dark > .content > .project-card-content > div > .btn {
  background-color: black !important;
  border: 1px solid #aaa;
  color: #bbb;
  box-shadow: none;
}
.project-card.dark > .content > .project-card-content > div > .btn:hover {
  border: 1px solid white;
  color: white;
}
.project-card > .content {
  padding: 0 !important
}
.project-card-content {
  display: flex !important;
  flex-direction: row !important;
  max-width: none !important;
  width: min-content !important;
  flex: 0 auto !important;
  width: 100% !important;
}
.project-card-content > .image {
  padding: 0.75em;
  min-width: 150px !important;
  max-width: 150px !important;
  background-color: white;
  border-top-right-radius: 0 !important;
}
.card-link-container {
  justify-content: center;
  padding: 0.25rem !important;
}
.body-dark > #geist-ui-modal > .backdrop > .layer {
  opacity: 0.75 !important;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper {
  box-shadow: 0 30px 60px rgba(255, 255, 255, 0.15);
  background: black;
  color: white;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > h2 {
  color: white;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > p {
  color: #bbb;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > .content > .row > .modal-section-img {
  background-color: white;
  border-radius: 5px;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > footer {
  border-color: #444;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > footer > .btn {
  background-color: black;
  color: #ddd;
  border-color: #444;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > footer > .btn:hover {
  background-color: #111;
  color: white;
}
.tooltip-content > .inner {
  padding: 0 1em !important;
}
a.breadcrums-item:hover {
  color: black !important;
}
.control-btn {
  margin-top: 1.5em;
  display: flex !important;
  align-items: center !important;
}
.board-row {
  display: flex;
}
.gol-cell {
  width: 25px;
  height: 25px;
  border: 0;
  margin: 1px;
  background-color: #eee;
}
.gol-cell:hover {
  background-color: black;
}
.alive {
  background-color: black;
}
.mode-toggle-img {
  position: absolute;
  z-index: 5;
  width: 250px;
  height: 250px;
  --toggle-img-width: 250px;
}
.mode-toggle-img:hover {
  cursor: pointer;
}
.modal-tag {
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.modal-tag.dark {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.bg-img-default {
  top: calc(var(--toggle-img-width)/-5.5);
  right: calc(var(--toggle-img-width)/-4.4);
  transform: rotate(105deg);
}
.bg-img-light {
  top: calc(var(--toggle-img-width)/-5.5);
  right: calc(var(--toggle-img-width)/-4.4);
  transform: rotate(105deg);
}
.bg-img-dark {
  top: calc(var(--toggle-img-width)/-5);
  right: calc(var(--toggle-img-width)/-5);
  transform: rotate(-70deg);
}
.main-page-light {
  background-color: white;
}
.main-page-dark {
  background-color: black;
}
.slider.jsx-993346371 {
	background-color: #eee !important;
}
.dot {
  background-color: black !important;
}
/* INCOME TRACKER START */
.input-container > span {
  width: 200px !important;
}
.mini-inp-container > span {
  width: 138px !important;
}
.mini-inp-container > div {
  width: 100px !important;
}
.input-container > span.right {
  width: 50px !important;
}
.with-label {
  margin-top: 10px;
}
a.canvasjs-chart-credit {
  display: none !important;
}
/* INCOME TRACKER END */
/* TUTORING PAGE START */
.color-link {
  padding: 2px;
  border-radius: 2px;
  color: black;
}
.red-bg {
  background-color: rgb(255, 0, 0, 0.2);
}
.blue-bg {
  background-color: rgb(0, 0, 255, 0.2);
}
.green-bg {
  background-color: rgb(0, 255, 0, 0.2);
}
.maroon-bg {
  background-color: rgba(85, 0, 0, 0.2);
}
/* TUTORING PAGE END */
@media (max-width: 1300px) {
  .mode-toggle-img {
    width: 160px;
    height: 160px;
    --toggle-img-width: 150px;
  }
}
@media (max-width: 520px) {
  .project-card-content > .image {
    display: none;
  }
  .card-link-container {
    justify-content: left;
  }
  .projects-container {
    justify-content: center;
  }
  .mode-toggle-img {
    width: 140px;
    height: 140px;
    --toggle-img-width: 140px;
  }
}
@media (max-width: 300px) {
  .mode-toggle-img {
    width: 0px;
    height: 0px;
    --toggle-img-width: 0px;
  }
}