*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hide;
  color: inherit;
  transition: 200ms;
  scrollbar-width: none;
  font-weight: 400;
}
ul, ol {
  color: inherit !important;
}
.dark {
  color: white;
}
.body-light {
  background-color: white;
}
.body-dark {
  background-color: black;
  color: white;
}
.copyright-statement > a {
  color: #666666;
}
.copyright-statement > a:hover {
  text-decoration: underline;
}
.copyright-statement.dark {
  color: #bbb;
}
.copyright-statement.dark > a {
  color: #bbb;
}
.nav-tabs-dark > .hide-divider > .tab.active {
  color: white;
}
.nav-tabs-dark > .hide-divider > .tab.active::after {
  background-color: white;
}
.nav-tabs-dark > .hide-divider > .tab {
  color: #ccc;
}
.user-tag-dark > .names > .name {
  color: white;
}
.user-tag-dark > .names > .social {
  color: #ccc;
}
.badge-link {
  background-color: #00000015 !important;
}
.badge-link:hover {
  background-color: #00000030 !important;
}
.badge-link > a {
  line-height: 1.5;
  color: black !important;
  text-transform: uppercase;
}
.badge-link.dark {
  background-color: #202020 !important;
}
.badge-link.dark:hover {
  background-color: #2b2b2b !important;
}
.badge-link.dark > a {
  color: white !important;
}
a.about-link {
  padding: 0 2px;
  color: black !important;
  font-weight: bold;
}
a.about-link.dark {
  color: white !important;
}
.tamu:hover {
  background-color: #e5d9d9;
  border-radius: 2px;
}
.tamu.dark:hover {
  background-color: #500;
}
.city:hover {
  background-color: #e5ffd9;
  border-radius: 2px;
}
.city.dark:hover {
  background-color: #1f6400;
}
.datathon:hover {
  background-color: #f8d9ff;
  border-radius: 2px;
}
.datathon.dark:hover {
  background-color: #d000ff;
}
.intuit:hover {
  background-color: #bfddf1;
  border-radius: 2px;
}
.intuit.dark:hover {
  background-color: #0077c5;
}
.tutoring:hover {
  background-color: #ffcde6;
  border-radius: 2px;
}
.tutoring.dark:hover {
  background-color: #ff0080;
}
.bg-yellow:hover {
  background-color: rgba(255, 255, 0, 0.15);
  border-radius: 2px;
}
.hobby {
  line-height: 1.5 !important;
  height: auto !important;
  font-size: 1em !important;
  margin-top: 0.5em !important;
}
.hobby.dark {
  color: white !important;
  background-color: black;
  border-color: white;
}
.dark > .tooltip > .misc-link {
  color: #79ffe1 !important;
}
.dark > .misc-link {
  color: #79ffe1 !important;
}
.dark > .tooltip > .misc-link:hover {
  background-color: rgba(121, 255, 225, 0.2) !important;
}
.dark > .misc-link:hover {
  background-color: rgba(121, 255, 225, 0.2) !important;
}
.misc-link {
  line-height: 1.5 !important;
  height: auto !important;
  font-size: 1em !important;
  margin-top: 0.5em !important;
  align-items: center !important;
  margin-right: 0.5em !important;
}
.misc-link-r {
  line-height: 1.5 !important;
  height: auto !important;
  font-size: 1em !important;
  align-items: center !important;
}
.collapse.dark > .view > .title {
  color: white !important;
}
.collapse-group > .last-collapse {
  border-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.title > svg {
  color: inherit !important;
}
.card {
  margin: 20px !important;
  flex: 1 1 0% !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 275px !important;
  max-width: 275px !important;
}
.content {
  flex: 1 1 0%;
}
.content-wrapper {
  padding: 4pt calc(0.65 * 4pt);
}
.collapse {
  padding: 0.75em 0 !important;
}
.title > h3 {
  font-weight: 400;
  font-size: 1.2rem;
}
.modal-section-img {
  width: 27rem !important;
  max-width: 80vw !important;
  margin-right: 1rem;
}
.modal-section {
  width: 28rem !important;
  max-width: 80vw !important;
}
footer > button {
  padding: 0 !important;
}
.projects-container {
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: left;
}
.project-card {
  width: 400px !important;
  max-width: 400px !important;
  flex: 0 auto !important;
}
.project-card.dark {
  background-color: black !important;
  color: white !important;
  border-color: #444 !important;
}
.project-card.dark:hover {
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.15) !important;
}
.project-card.dark > footer {
  border-color: #444;
}
.project-card.dark > footer > .misc-link-r {
  color: #79ffe1 !important;
}
.project-card.dark > footer > .misc-link-r:hover {
  background-color: rgba(121, 255, 225, 0.2) !important;
}
.project-card.dark > .content > .project-card-content > div > .btn {
  background-color: black !important;
  border: 1px solid #aaa;
  color: #bbb;
  box-shadow: none;
}
.project-card.dark > .content > .project-card-content > div > .btn:hover {
  border: 1px solid white;
  color: white;
}
.project-card > .content {
  padding: 0 !important
}
.project-card-content {
  display: flex !important;
  flex-direction: row !important;
  max-width: none !important;
  width: min-content !important;
  flex: 0 auto !important;
  width: 100% !important;
}
.project-card-content > .image {
  padding: 0.75em;
  min-width: 150px !important;
  max-width: 150px !important;
  background-color: white;
  border-top-right-radius: 0 !important;
}
.card-link-container {
  justify-content: center;
  padding: 0.25rem !important;
}
.body-dark > #geist-ui-modal > .backdrop > .layer {
  opacity: 0.75 !important;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper {
  box-shadow: 0 30px 60px rgba(255, 255, 255, 0.15);
  background: black;
  color: white;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > h2 {
  color: white;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > p {
  color: #bbb;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > .content > .row > .modal-section-img {
  background-color: white;
  border-radius: 5px;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > footer {
  border-color: #444;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > footer > .btn {
  background-color: black;
  color: #ddd;
  border-color: #444;
}
.body-dark > #geist-ui-modal > .backdrop > .content > .wrapper > footer > .btn:hover {
  background-color: #111;
  color: white;
}
.tooltip-content > .inner {
  padding: 0 1em !important;
}
a.breadcrums-item:hover {
  color: black !important;
}
.control-btn {
  margin-top: 1.5em;
  display: flex !important;
  align-items: center !important;
}
.board-row {
  display: flex;
}
.gol-cell {
  width: 25px;
  height: 25px;
  border: 0;
  margin: 1px;
  background-color: #eee;
}
.gol-cell:hover {
  background-color: black;
}
.alive {
  background-color: black;
}
.mode-toggle-img {
  position: absolute !important;
  z-index: 5;
  padding: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
  top: calc(var(--toggle-img-width)/-5.5);
  right: calc(var(--toggle-img-width)/-4.4);
}
.mode-toggle-img:hover {
  cursor: pointer;
}
.modal-tag {
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.modal-tag.dark {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.bg-img-default {
  transform: rotate(105deg);
}
.bg-img-light {
  transform: rotate(105deg);
}
.bg-img-dark {
  transform: rotate(-70deg);
}
.main-page-light {
  background-color: white;
}
.main-page-dark {
  background-color: black;
}
.slider.jsx-993346371 {
  background-color: #eee !important;
}
.dot {
  background-color: black !important;
}
.lg-input > div {
  width: 250px;
}
.select-inp-container {
  display: flex;
}
.select-inp-container > .select {
  border-radius: 0px 5px 5px 0px !important;
}
.select-inp-container > .select > .value > .option {
  font-size: .875rem;
}
.select-inp-label {
  font-size: .875rem;
  padding: 5px 10px;
  background: #fafafa;
  color: #888;
  border: 1px solid #eaeaea;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
}
pre, pre code {
  color: #db006d !important;
}
/* INCOME TRACKER START */
.inc-tracker-inp > span {
  width: 200px !important;
}
.mini-inp-container > span {
  width: 138px !important;
}
.mini-inp-container > div {
  width: 100px !important;
}
.inc-tracker-inp > span.right {
  width: 50px !important;
}
.with-label {
  margin-top: 10px;
}
a.canvasjs-chart-credit {
  display: none !important;
}
/* INCOME TRACKER END */
/* WIKI RUN START */
.wiki-input > span {
  width: 120px !important;
}
.wiki-input > .input-wrapper {
  width: 300px !important;
}
/* WIKI RUN END */
/* TUTORING PAGE START */
.color-link {
  padding: 2px;
  border-radius: 2px;
  color: black;
  font-weight: bold;
}
.red-bg {
  border: 2px solid rgb(255, 0, 0, 0.2);
}
.red-bg:hover {
  background-color: rgb(255, 0, 0, 0.2);
}
.blue-bg {
  border: 2px solid rgb(0, 0, 255, 0.2);
}
.blue-bg:hover {
  background-color: rgb(0, 0, 255, 0.2);
}
.green-bg {
  border: 2px solid rgb(0, 255, 0, 0.2);
}
.green-bg:hover {
  background-color: rgb(0, 255, 0, 0.2);
}
.orange-bg {
  border: 2px solid rgba(255, 166, 0, 0.2);
}
.orange-bg:hover {
  background-color: rgba(255, 166, 0, 0.2);
}
.maroon-bg {
  border: 2px solid rgba(85, 0, 0, 0.2);
}
.maroon-bg:hover {
  background-color: rgba(85, 0, 0, 0.2);
}
.zoom-bg {
  border: 2px solid #0089fa38;
}
.zoom-bg:hover {
  background-color: #0089fa38;
}
.class-info-container {
  flex-wrap: wrap;
}
.class-image-container {
  padding: 1rem !important;
  display: flex;
  align-items: center;
  max-width: 475px;
  min-width: 50%;
}
.class-image-container > .image > img {
  min-width: 300px;
}
.class-details {
  min-width: 50%;
  max-width: 475px !important;
}
.class-details > .goals {
  color: #6c63ff;
  font-weight: bold;
}
.order-one {
  order: 1;
}
@media (max-width: 1000px) {.order-one { order: 0; }}
/* TUTORING PAGE END */
/* Compass Start */
.compass-input > div {
  width: 500px;
}
#compass-container > img {
  position: absolute;
  width: 100%;
}
/* Compass End */
/* Album Cover Start */
.phone-screen {
  width: 400px;
  height: 700px;
  background: linear-gradient(to left top, rgba(140, 100, 100, 1) 0%, rgba(220, 200, 200, 1) 100%), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
.phone-screen > * {
  color: white;
  font-weight: bold;
}
.status-bar {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}
.status-bar > * {
  font-weight: bold;
}
.phone-time-container {
  display: flex;
}
.phone-symbols-container {
  display: flex;
}
.album-img-container {
  margin: 40px 20px;
  width: 360px;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 20px 20px 60px #0000002e, -20px -20px 60px #0000002e
}
.song-data-container {
  margin: 15px 25px;
  overflow: hidden;
  font-size: 1.4rem;
  line-height: 1.2;
}
.song-data-container::after {
	/* background-image: linear-gradient(to right, transparent, #997575); */
	right: 90px;
	position: absolute;
	height: 50px;
	top: 480px;
	width: 50px;
	content: "";
}
.song-title {
  white-space: nowrap;
  overflow: hidden;
}
.song-artist {
  font-weight: normal;
  color: #ddd;
}
.music-controls-container {
  margin: 30px 25px;
}
.music-controls-container > .slider > .dot {
  font-size: 1px !important;
  border-radius: 50%;
  background-color: white !important;
	width: 6px !important;
	height: 6px !important;
	overflow: hidden;
  padding: 0 !important;
}
.music-controls-container > .slider {
  height: 0.15rem !important;
  background-color: #ffffff80 !important;
}
.music-btns-container {
  margin: 45px 25px;
  display: flex;
  justify-content: space-evenly;
}
.music-btns-container > svg {
  fill: white;
}
/* Album Cover End */
@media (min-width: 1300px) {
  .mode-toggle-img {
    width: 250px !important;
    height: 250px !important;
    background-color: transparent !important;
    --toggle-img-width: 250px;
  }
}
@media (max-width: 1300px) {
  .mode-toggle-img {
    width: 160px !important;
    height: 160px !important;
    --toggle-img-width: 150px;
  }
}
@media (max-width: 520px) {
  .project-card-content > .image {
    display: none;
  }
  .card-link-container {
    justify-content: left;
  }
  .projects-container {
    justify-content: center;
  }
  .mode-toggle-img {
    width: 140px !important;
    height: 140px !important;
    --toggle-img-width: 140px !important;
  }
  .wiki-input > .input-wrapper {
    width: 200px !important;
  }
}
@media (max-width: 300px) {
  .mode-toggle-img {
    width: 0px !important;
    height: 0px !important;
    --toggle-img-width: 0px;
  }
}