*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hide;
  color: inherit;
  transition: 200ms;
  scrollbar-width: none;
  font-weight: 400;
}
.badge-link {
  background-color: #00000015 !important;
}
.badge-link:hover {
  background-color: #00000030 !important;
}
.badge-link > a {
  line-height: 1.5;
  color: black !important;
  text-transform: uppercase;
}
a.about-link {
  padding: 0 2px;
  color: black !important;
  font-weight: bold;
}
.tamu:hover {
  background-color: rgba(85, 0, 0, 0.15);
  border-radius: 2px;
}
.city:hover {
  background-color: rgba(81, 255, 0, 0.15);
  border-radius: 2px;
}
.datathon:hover {
  background-color: rgba(204, 0, 255, 0.15);
  border-radius: 2px;
}
.hobby {
	line-height: 1.5 !important;
	height: auto !important;
  font-size: 1em !important;
  margin-top: 0.5em !important;
}
.misc-link {
	line-height: 1.5 !important;
	height: auto !important;
  font-size: 1em !important;
  margin-top: 0.5em !important;
  align-items: center !important;
  margin-right: 0.5em !important;
}
.misc-link-r {
	line-height: 1.5 !important;
	height: auto !important;
  font-size: 1em !important;
  align-items: center !important;
}
.card {
  margin: 20px !important;
  flex: 1 1 0% !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 275px !important;
  max-width: 275px !important;
}
.content {
  flex: 1 1 0%;
}
.content-wrapper {
  padding: 4pt calc(0.65 * 4pt);
}
.collapse {
  padding: 0.75em 0 !important;
}
.title > h3 {
  font-weight: 400;
  font-size: 1.2rem;
}
.modal-section {
  width: 28rem !important;
  max-width: 80vw !important;
}
footer > button {
  padding: 0 !important;
}
.projects-container {
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: left;
}
.project-card {
  width: 400px !important;
  max-width: 400px !important;
  flex: 0 auto !important;
}
.project-card > .content {
  padding: 0 !important
}
.project-card-content {
  display: flex !important;
  flex-direction: row !important;
  max-width: none !important;
  width: min-content !important;
  flex: 0 auto !important;
  width: 100% !important;
}
.project-card-content > .image {
  padding: 0.75em;
}
.card-link-container {
  justify-content: center;
  padding: 0.25rem !important;
}
.tooltip-content > .inner {
  padding: 0 1em !important;
}
@media (max-width: 520px) {
  .project-card-content > .image {
    display: none;
  }
  .card-link-container {
    justify-content: left;
  }
  .projects-container {
    justify-content: center;
  }
}