<head>
  <style>
  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-4, .col-sm-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .center-section {
    text-align: center;
    padding-top: 0.5em;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .dc2 {
    display: flex;
    justify-content: right;
  }
  .left-section {
    border-right: 1px solid #d9d9d9;
  }
  </style>
</head>
<div id="resume-container" style="width: 1000px; padding: 0" class="container">
  <div style="margin: 0px; padding-bottom: 1em" class="row">
    <div class="col-sm-4">
      <h1 id="full_name"></h1>
      <h4 id="subtitle"></h4>
      <a id="personal_url" href="#" target="_blank" style="color: black; font-style: italic">
      </a>
    </div>
    <div class="dc1 col-sm-4">
      <div class="center-section">
        <span id="street_name"></span> <span id="apt_no"></span>
        <br />
        <span id="city"></span>
        <br />
        <span id="state"></span>, <span id="zip_code"></span>
      </div>
    </div>
    <div class="dc2 col-sm-4">
      <div>
        <span id="phone_no"></span>
        <br />
        <a id="email_address" href="#" target="_blank" style="color: black; font-style: italic"></a>
        <br />
        <a id="linkedin_url" href="#" target="_blank" style="color: black; font-style: italic"></a>
        <br />
        <a id="github_url" href="#" target="_blank" style="color: black; font-style: italic"></a>
      </div>
    </div>
  </div>
  <div style="
      margin: 0px;
      padding: 1em;
      border-top: 1px solid #d9d9d9;
      display: flex;
      flex-wrap: wrap;
    ">
    <h3>Objective</h3>
    <span id="objective"></span>
  </div>
  <div style="margin: 0px; padding-top: 1em; border-top: 1px solid #d9d9d9" class="row">
    <div class="left-section col-sm-6">
      <h3>Education</h3>
      <div class="section">
        <span style="float: right"><span id="university_start_day"></span> -
        <span id="university_end_day"></span
        ></span>
        <h5 id="university" style="font-weight: bold"></h5>
        <span style="float: right">GPA: <span id="university_gpa"></span></span><b id="major"></b>
        <br />Notable Courses:
        <span id="relevant_course_name_1"></span>,
        <span id="relevant_course_name_2"></span>,
        <br /><span id="relevant_course_name_3"></span
        >, <span id="relevant_course_name_4"></span>
      </div>
      <br />
      <h3>Experience</h3>
      <div class="section">
        <span style="float: right"><span id="work_start_day_1"></span> -
        <span id="work_end_day_1"></span
        ></span>
        <h5>
          <b id="work_name_1"></b>
          <a
            id="work_url_1"
            href="#"
            target="_blank"
            style="color: black; font-size: 1rem; font-style: italic"
          ></a>
        </h5>
        <b id="work_role_1"></b>
        <br />
        <ul>
          <li id="work_bullet_1_1"></li>
          <li id="work_bullet_1_2"></li>
          <li id="work_bullet_1_3"></li>
        </ul>
      </div>
      <div class="section">
        <span style="float: right"><span id="work_start_day_2"></span> -
        <span id="work_end_day_2"></span
        ></span>
        <h5>
          <b id="work_name_2"></b>
          <a
            id="work_url_2"
            href="#"
            target="_blank"
            style="color: black; font-size: 1rem; font-style: italic"
          ></a>
        </h5>
        <b id="work_role_2"></b>
        <br />
        <ul>
          <li id="work_bullet_2_1"></li>
          <li id="work_bullet_2_2"></li>
          <li id="work_bullet_2_3"></li>
        </ul>
      </div>
      <div class="section">
        <span style="float: right"><span id="work_start_day_3"></span> -
        <span id="work_end_day_3"></span
        ></span>
        <h5>
          <b id="work_name_3"></b>
          <a
            id="work_url_3"
            href="#"
            target="_blank"
            style="color: black; font-size: 1rem; font-style: italic"
          ></a>
        </h5>
        <b id="work_role_3"></b>
        <br />
        <ul>
          <li id="work_bullet_3_1"></li>
          <li id="work_bullet_3_2"></li>
          <li id="work_bullet_3_3"></li>
        </ul>
      </div>
      <br />
      <h3>Skills</h3>
      <h5><b>Languages</b></h5>
      <div style="display: flex; justify-content: center">
        <ul style="width: 33.3333%">
          <li id="programming_language_1"></li>
          <li id="programming_language_2"></li>
          <li id="programming_language_3"></li>
        </ul>
        <ul style="width: 33.3333%">
          <li id="programming_language_4"></li>
          <li id="programming_language_5"></li>
          <li id="programming_language_6"></li>
        </ul>
        <ul style="width: 33.3333%">
          <li id="programming_language_7"></li>
          <li id="programming_language_8"></li>
          <li id="programming_language_9"></li>
        </ul>
      </div>
      <h5><b>Technologies</b></h5>
      <div style="display: flex; justify-content: center">
        <ul style="width: 33.3333%">
          <li id="technical_skill_1"></li>
          <li id="technical_skill_2"></li>
          <li id="technical_skill_3"></li>
        </ul>
        <ul style="width: 33.3333%">
          <li id="technical_skill_4"></li>
          <li id="technical_skill_5"></li>
          <li id="technical_skill_6"></li>
        </ul>
        <ul style="width: 33.3333%">
          <li id="technical_skill_7"></li>
          <li id="technical_skill_8"></li>
          <li id="technical_skill_9"></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Projects</h3>
      <div class="section">
        <span style="float: right"><span id="project_start_day_1"></span> -
        <span id="project_end_day_1"></span
        ></span>
        <h5>
          <b id="project_title_1"></b>
          <a
            id="project_url_1"
            href="#"
            target="_blank"
            style="color: black; font-size: 1rem; font-style: italic"
          ></a>
        </h5>
        <b id="project_brief_description_1"></b>
        <ul>
          <li id="project_bullet_1_1"></li>
          <li id="project_bullet_1_2"></li>
          <li id="project_bullet_1_3"></li>
        </ul>
      </div>
      <div class="section">
        <span style="float: right"><span id="project_start_day_2"></span> -
        <span id="project_end_day_2"></span
        ></span>
        <h5>
          <b id="project_title_2"></b>
          <a
            id="project_url_2"
            href="#"
            target="_blank"
            style="color: black; font-size: 1rem; font-style: italic"
          ></a>
        </h5>
        <b id="project_brief_description_2"></b>
        <ul>
          <li id="project_bullet_2_1"></li>
          <li id="project_bullet_2_2"></li>
          <li id="project_bullet_2_3"></li>
        </ul>
      </div>
      <div class="section">
        <span style="float: right"><span id="project_start_day_3"></span> -
        <span id="project_end_day_3"></span
        ></span>
        <h5>
          <b id="project_title_3"></b>
          <a
            id="project_url_3"
            href="#"
            target="_blank"
            style="color: black; font-size: 1rem; font-style: italic"
          ></a>
        </h5>
        <b id="project_brief_description_3"></b>
        <ul>
          <li id="project_bullet_3_1"></li>
          <li id="project_bullet_3_2"></li>
          <li id="project_bullet_3_3"></li>
        </ul>
      </div>
      <br />
      <h3>Activities</h3>
      <div class="section">
        <span style="float: right"><span id="activity_start_day_1"></span> -
        <span id="activity_end_day_1"></span
        ></span>
        <h5><b id="activity_title_1"></b></h5>
        <b id="activity_brief_description_1"></b>
        <ul>
          <li id="activity_bullet_1_1"></li>
          <li id="activity_bullet_1_2"></li>
          <li id="activity_bullet_1_3"></li>
        </ul>
      </div>
      <div class="section">
        <span style="float: right"><span id="activity_start_day_2"></span> -
        <span id="activity_end_day_2"></span
        ></span>
        <h5><b id="activity_title_2"></b></h5>
        <b id="activity_brief_description_2"></b>
        <ul>
          <li id="activity_bullet_2_1"></li>
          <li id="activity_bullet_2_2"></li>
        </ul>
      </div>
    </div>
  </div>
</div>